<div class="custom-first-view">
    <div class="childs">
        <div class="img-log">
            <p>image</p>
        </div>
    </div>
    <div class="childs">
        <div class="text-container">
            <div class="title">
                <p>
                    Centro <br> De <br> Convenciones <br> Cusco
                </p>
            </div>
            <div class="description">
                <p>
                    La  pérdida  pérdida  pérdida  pérdida  pérdida  pérdida  pérdida  pérdida  pérdida  pérdida  pérdida  pérdida  pérdida  pérdida  pérdida.
                </p>
            </div>
            <div class="button-container">
                <div class="link-buttons">
                    <button type="button" class="custom-button" id="btn-hours">
                        Horarios
                    </button>
                </div>
                <div class="link-buttons">
                    <button type="button" class="custom-button" id="btn-location">
                        Ubicacion
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>